body{
    background-color: #100503;
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
}
p{
    text-align: left;
}
footer{
    color: rgba(255, 255, 255, 0.61);
    margin: auto;
    text-align: center;
    font-style: italic;
}
